body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #000;
  }
  
  nav ul li {
    margin: 0;
    flex-grow: 1;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(249, 237, 237);
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 15px 0;
    border-right: 1px solid #efe8e8;
    transition: color 0.3s;
  }
  
  nav ul li:last-child a {
    border-right: none;
  }
  
  nav ul li a.active,
  nav ul li a:hover {
    color: red;
  }
  
  .main-content {
    margin-top: 60px;
  }
  
  .hero {
    background-image: url(1.jpg);
    background-size: cover;
    background-position: center;
    height: 667px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .hero h1 {
    font-size: 3em;
  }
  